.app{
    max-width: 300px;
    margin: 5px auto;
    box-shadow: 0 0 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: aliceblue;
}

h1{
    text-align: center;
}

body {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.addNewItem{
    display: flex;
    align-items: center;
}